@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&family=Lato:ital,wght@0,300;1,300&family=Lora:ital,wght@0,500;1,500&family=Montserrat:ital@0;1&family=Playfair+Display:ital,wght@0,600;1,500&family=Roboto:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

:root {
  --dosis: "Dosis", sans-serif;
  --lato: "Lato", sans-serif;
  --lora: "Lora", serif;
  --monster: "Montserrat", sans-serif;
  --playfair: "Playfair Display", serif;
  --roboto: "Roboto", sans-serif;
}

h2 {
  font-size: 1.3rem;
  font-family: --lora;
}

p {
  font-size: 1rem;
  font-family: var(--lato);
}

.header {
  width: 100%;
  height: 90vh;
  background-image: url(/img/banner-bg.png);
  background-size: cover;
}
.header .navigation {
  width: 75%;
  height: 8vh;
  margin: 0 auto;
}
.header .navigation .navbar {
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .navigation .navbar .navbar__nav a {
  color: black;
  margin-left: 15px;
  font-size: 1.2rem;
  font-family: var(--playfair);
}
.header .banner {
  margin-top: 10%;
  width: 30%;
  margin-left: 10%;
  font-family: var(--lora);
}
.header .banner h1 {
  font-size: 5rem;
}
.header .banner button {
  margin-top: 1rem;
  margin-left: 1rem;
}
.header .banner button:nth-child(odd) {
  padding: 10px 25px;
  background-color: rgb(21, 244, 233);
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  transition: all 0.5s linear;
  border-radius: 50px;
  transition: all 0.5s linear;
}
.header .banner button:nth-child(odd):hover {
  background-color: black;
}
.header .banner button:nth-child(even) {
  padding: 10px 25px;
  background-color: black;
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  transition: all 0.5s linear;
  border-radius: 50px;
}

.about {
  width: 100%;
  background-color: #699405;
}

.about__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
}
.about__content h2 {
  margin-left: 5%;
  font-size: 2rem;
}
.about__content p {
  margin-left: 5%;
}
.about__content button {
  padding: 10px 25px;
  background-color: black;
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  transition: all 0.5s linear;
  margin-left: 5%;
  margin-top: 1rem;
}
.about__content button:hover {
  background-color: white;
  color: black;
}

.circle {
  width: 100%;
  padding: 3rem;
  background-color: #fff;
}

.circle__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
}
.circle__content .circle__item {
  text-align: center;
}
.circle__content .circle__item .radius {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #699405;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--roboto);
  font-size: 1.5rem;
  color: #fff;
  font-weight: 900;
  margin-bottom: 1rem;
}

.why {
  width: 100%;
  padding: 3rem;
  background-color: #fff;
  text-align: center;
}
.why .title h2 {
  text-align: center;
  font-size: 2rem;
  font-family: var(--playfair);
}
.why button {
  padding: 10px 25px;
  background-color: black;
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  transition: all 0.5s linear;
  margin-top: 2rem;
}
.why button:hover {
  background-color: white;
  color: black;
}

.why__content {
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
  gap: 0;
}
.why__content button {
  margin-top: 10px;
  margin-left: 10px;
}
.why__content button:nth-child(odd) {
  padding: 10px 25px;
  background-color: #699405;
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  transition: all 0.5s linear;
}
.why__content button:nth-child(odd):hover {
  background-color: red;
}
.why__content button:nth-child(even) {
  padding: 10px 25px;
  background-color: red;
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  transition: all 0.5s linear;
}
.why__content button:nth-child(even):hover {
  background-color: #699405;
}

.blog {
  width: 100%;
  padding: 3rem;
  background-color: #fff;
}
.blog h2 {
  font-size: 2rem;
}

.blog__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
}
.blog__content .blog__item .img {
  position: relative;
}
.blog__content .blog__item .img span {
  padding: 10px 25px;
  background-color: #699405;
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  transition: all 0.5s linear;
  position: absolute;
  left: 0;
  top: 0;
}
.blog__content .blog__item .title h2 {
  font-size: 1.5rem;
}
.blog__content .blog__item .title button {
  padding: 10px 25px;
  background-color: red;
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  transition: all 0.5s linear;
  margin-top: 1rem;
}

.what {
  width: 100%;
  padding: 3rem;
  background-color: #fff;
}
.what .title h2 {
  text-align: center;
  font-size: 2rem;
  font-family: var(--playfair);
  margin-bottom: 1rem;
}
.what .title p {
  text-align: center;
  font-family: var(--monster);
  margin-bottom: 2rem;
}

.what__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: center;
}
.what__content .what__item .card {
  border-radius: 120px;
  border: 3px solid rgb(0, 255, 89);
  padding: 40px;
  overflow: hidden;
}
.what__content .what__item h2 {
  font-size: 2rem;
}
.what__content .what__item span {
  color: #699405;
  font-size: 1.5rem;
}

.contact {
  width: 100%;
  padding: 3rem;
  background-color: #fff;
}
.contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.contact form h2 {
  text-align: center;
  font-size: 2rem;
  font-family: var(--playfair);
}
.contact form input {
  height: 7vh;
  font-size: 1.3rem;
  text-indent: 10px;
}
.contact form textarea {
  height: 14vh;
  font-size: 1.3rem;
  text-indent: 10px;
}
.contact form button {
  padding: 10px 25px;
  background-color: red;
  color: #fff;
  font-size: 1.3rem;
  border: 0;
  transition: all 0.5s linear;
  width: 150px;
  margin: 0 auto;
}
.contact form button:hover {
  background-color: #fff;
  color: black;
  border: 1px solid #000;
}

.footer {
  width: 100%;
  padding: 3rem;
  background-color: #fff;
  background-color: #2b2b2b;
}

.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  align-items: center;
  align-items: flex-start;
  color: white;
}
.footer__content .item h2 {
  font-size: 2rem;
  font-family: var(--lora);
  margin-bottom: 2rem;
}
.footer__content .item form input {
  height: 5vh;
  font-size: 1.3rem;
  text-indent: 10px;
  margin-bottom: 1rem;
  transition: all 0.5s linear;
}
.footer__content .item form input:hover {
  background-color: #fff;
  color: #fff;
  box-shadow: 0px 0px 20px;
}

.copy {
  background-color: #2b2b2b;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 0.5rem;
}/*# sourceMappingURL=style.css.map */